server {
    server_name {{ hostname }} www.{{ hostname }};
    root {{ doc_root }};

    location / {
        # try to serve file directly, fallback to default front controller ({{ front_controller }})
        try_files $uri /{{ front_controller }}$is_args$args;
    }

    error_log /var/log/nginx/project_error.log;
    access_log /var/log/nginx/project_access.log;
}

server {
    listen 443;

    ssl on;
    ssl_certificate      /var/ssl/server.crt;
    ssl_certificate_key  /var/ssl/server.key;

    server_name {{ hostname }} www.{{ hostname }};
    root {{ doc_root }};

    location / {
        # try to serve file directly, fallback to default front controller ({{ front_controller }})
        try_files $uri /{{ front_controller }}$is_args$args;
    }

    error_log /var/log/nginx/project_error.log;
    access_log /var/log/nginx/project_access.log;
}
